﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Evergreen 1234<br />
    Ciudad Autónoma de Buenos Aires, 1181<br />
    <abbr title="Phone">P:</abbr>
    +54 9 11 3698.0000
</address>

<address>
    <strong>Application Support:</strong> <a href="mailto:fdellasoppa(a)gmail.com">Federico Dellasoppa</a><br />
    <strong>Technical Support:</strong> <a href="mailto:fdellasoppa(a)gmail.com">Federico Dellasoppa</a><br />
</address>
