﻿@page
@model LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login Jobsity Chat Room";
}

<!DOCTYPE html>

<html>
<body>
    <p></p>
    <p><b>Login using form below:</b></p>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <p>Username: <input asp-for="LoginData.Username" value="" /></p>
        <p>Password: <input asp-for="LoginData.Password" value="" /><br /></p>
        <p>Remember me: <input asp-for="LoginData.RememberMe" type="checkbox" /><br /></p>
        <input type="submit" value="Login" />
        @Html.AntiForgeryToken()
    </form>
</body>
</html>

